<div class="w-full bg-white fixed bottom-0 py-2 flex flex-col justify-center items-center">
  <p class="text-xs font-thin py-1 font-sans text-grey-500 text-center">&copy;<%= Time.current.year %>
    PHOTOGRAPHED, DESIGNED & CODED <a href="https://www.linkedin.com/in/anthony-marion-71b0a0257/">ANTHONY MARION</a>
  </p>
</div>
