<div class="flex pt-4">
  <h1 class="w-1/2 text-center font-bold">
    <%= link_to "PIXELICIOUS", root_path %>
  </h1>
  <%# IF STATEMENT FOR WHEN USER IS LOGGED IN %>
  <%# IF USER IS SIGNED IN %>
  <% if user_signed_in? %>
  <%# USER CAN ACCESS FOLLOWING %>
    <%= link_to "Upload new image", new_image_path, method: :new %>
    <%= button_to "Log_out", destroy_user_session_path, method: :delete %>
  <%# IF USER NOT SIGNED_IN, NO OPTIONS AVAILABLE %>
    <% else %>
      <% unless current_page?(images_path) %>
    <% end %>
  <% end %>
  <div class="subhead text-center w-1/2">
    <h2 class="text-gray-400 font-light pb-4">
      BY ANTHONY
    </h2>
  </div>
</div>
