<div class="body-masonry">
  <% @images.each do |image| %>
    <%= image_tag image.image %>
    <h1><%= image.title %></h1>
    <%# <p>Date uploaded: <%= image.date_uploaded %>
    <p>Added <%= time_ago_in_words(image.created_at) %> ago</p>
  <% end %>
</div>
