<div class="body-masonry columns-1 md:columns-2 lg:columns-3 gap-4 pb-20">
  <% @images.each do |image| %>
    <div class="masonry-item">
      <%= image_tag image.image, class: "rounded" %>
      <%# <h1><%= image.title %>
      <%# <p>Added <%= time_ago_in_words(image.created_at) %>
    </div>
  <% end %>
</div>
