<div class="section flex flex-col">
  <div class="image flex items-center justify-center">
    <%= image_tag @image.image, class: 'w-1/2 h-auto' %>
  </div>
</div>

<div class="image-actions flex pt-4">
  <div class="btn-del w-1/2 text-center hover:underline cursor-pointer text-red-500">
    <%# <%= button_to "Delete image", image_path(@image), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    <%# <%= button_to "Delete image", @image, method: :delete, data: { turbo_confirm: "Are you sure?" } %> %>

  </div>
  <div class="btn-edit w-1/2 text-center hover:underline cursor-pointer text-blue-500">
    <p>Edit image</p>
  </div>
</div>
