<%= turbo_frame_tag "modal" do %>

  <div class="section flex flex-col">
    <div class="image flex items-center justify-center">
      <%= image_tag @image.image, class: 'w-1/2 h-auto' %>
      <%= link_to "X", root_path, data: { action: "click->modals#close" }, class: "text-2xl" %>
    </div>
  </div>

<% end %>
